<div class="modules-lenses-view module-header">
	<table st-table="records"
		st-safe-src="safeRecords"
		class="table table-striped"
		>
		<thead>
			<tr>
				<th ng-repeat="knob in knobs"
					st-sort="{{knob.name}}"
					st-skip-natural="true"
					>
					{{knob.name}}
				</th>
			</tr>
			<tr ng-show="showKnobs()">
				<th ng-repeat="knob in knobs"
					ng-switch on="knob.type"
					st-search="{{knob.name}}"
					st-delay="0"
					>
					<md-select ng-switch-when="select"
						placeholder="pick one"
						ng-model="query[knob.name]"
						>
						<md-option value="">pick one</md-option>
						<md-option ng-repeat="value in knob.values"
							value="{{value}}"
							>
							{{value}}
						</md-option>
					</md-select>
					<div ng-switch-when="checkbox">
						<md-checkbox ng-model="query[knob.name]"></md-checkbox>
					</div>
					<div ng-switch-when="lens"></div>
					<md-input-container ng-switch-default
						md-no-float
						>
						<input type="{{knob.type}}"
							placeholder="type here"
							ng-model="query[knob.name]"
							/>
					</md-input-container>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="record in records"
				st-select-row="record"
				st-select-mode="multiple"
				>
				<td ng-repeat="knob in knobs">
					<md-button ng-if="knob.type === 'lens'"
						class="md-primary md-raised"
						ui-sref="lenses(
							{ id: knob.name + '!' + params.id
							, q: 'parent:' + record.id
							})"
						>
						<i class="fa fa-chevron-right"></i>
					</md-button>
					<div ng-if="knob.type !== 'lens'">
						{{record[knob.name]}}
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<md-list class="buttons"
	ng-mouseover="show.buttons = true"
	ng-mouseleave="show.buttons = false"
	>
	<div ng-show="show.buttons">
		<md-list-item>
			<md-button class="md-accent md-hue-1 md-fab"
				ng-click="toggleKnobs()"
				>
				<i class="fa fa-filter"></i>
			</md-button>
		</md-list-item>
		<md-list-item ng-show="countSelected() !== 0">
			<md-button class="md-accent md-hue-1 md-fab"
				ng-click="clear()"
				>
				<i class="fa fa-paint-brush"></i>
			</md-button>
		</md-list-item>
		<md-list-item ng-show="countSelected() !== 0">
			<md-button class="md-primary md-hue-2 md-fab"
				ng-click="delete()"
				>
				<i class="fa fa-trash"></i>
			</md-button>
		</md-list-item>
		<md-list-item ng-show="countSelected() === 1">
			<md-button class="md-primary md-hue-2 md-fab"
				ng-click="edit()"
				>
				<i class="fa fa-pencil"></i>
			</md-button>
		</md-list-item>
	</div>
	<md-list-item>
		<md-button class="md-accent md-hue-2 md-fab"
			ng-focus="show.buttons = true"
			ng-blur="show.buttons = false"
			ng-click="add()"
			>
			<i class="fa fa-plus"></i>
		</md-button>
	</md-list-item>
</md-list>
