<div class="modules-lenses-view">
	<div class="module-header">
		<table st-table="records" 
			   st-safe-src="safeRecords" 
			   class="table table-striped"
			   >
			<thead>
				<tr>
					<th ng-repeat="knob in knobs"
						st-sort="{{knob.name}}"
						>
						{{knob.name}}
					</th>
				</tr>
				<tr>
					<th ng-repeat="knob in knobs" 
						ng-switch on="knob.type"
						>
						<div ng-switch-when="select">
							<md-select placeholder="pick one" 
									   ng-model="someVal"
									   >
								<md-option ng-repeat="value in knob.values"
										   value="{{value}}"
										   >
									{{value}}
								</md-option>
							</md-select>
						</div>
						<div ng-switch-when="checkbox">
							<md-checkbox></md-checkbox>
						</div>
						<div ng-switch-default>
							<md-input-container md-no-float>
								<input type="{{knob.type}}"
									   placeholder="type here"
									   >
							</md-input-container>
						</div>						
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="record in records">
					<td ng-repeat="knob in knobs">
						{{record[knob.name]}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>