<div class="modules-lenses-view module-header">
	<table st-table="records"
		st-safe-src="safeRecords"
		class="table table-striped"
		>
		<thead>
			<tr>
				<th ng-repeat="knob in knobs"
					st-sort="{{knob.name}}"
					st-skip-natural="true"
					>
					{{knob.name}}
				</th>
			</tr>
			<tr>
				<th ng-repeat="knob in knobs"
					ng-switch on="knob.type"
					st-search="{{knob.name}}"
					st-delay="0"
					>
					<md-select ng-switch-when="select"
						placeholder="pick one"
						ng-model="query[knob.name]"
						>
						<md-option value="">pick one</md-option>
						<md-option ng-repeat="value in knob.values"
							value="{{value}}"
							>
							{{value}}
						</md-option>
					</md-select>
					<div ng-switch-when="checkbox">
						<md-checkbox ng-model="query[knob.name]"></md-checkbox>
					</div>
					<div ng-switch-when="lens"></div>
					<md-input-container ng-switch-default
						md-no-float
						>
						<input type="{{knob.type}}"
							placeholder="type here"
							ng-model="query[knob.name]"
							/>
					</md-input-container>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="record in records"
				st-select-row="record"
				st-select-mode="multiple"
				>
				<td ng-repeat="knob in knobs">
					<md-button ng-if="knob.type === 'lens'"
						class="md-primary md-raised"
						ui-sref="lenses(
							{ id: knob.name + '!' + params.id
							, q: 'parent:' + record.id
							})"
						>
						<i class="fa fa-angle-double-right"></i>
					</md-button>
					<div ng-if="knob.type !== 'lens'">
						{{record[knob.name]}}
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
