<div class="modules-lenses-search-view module-header">
	<table st-table="search.records"
		st-safe-src="search.safeRecords"
		class="table table-striped"
		>
		<thead>
			<tr>
				<th ng-repeat="knob in search.knobs"
					st-sort="{{knob.name}}"
					st-skip-natural="true"
					>
					{{knob.name}}
				</th>
			</tr>
			<tr ng-show="search.show.knobs || ('gt-lg' | media)">
				<th ng-repeat="knob in search.knobs"
					st-search="{{knob.name}}"
					st-delay="0"
					>
					<common-input model="search.record"
						name="knob.name"
						type="knob.type"
						values="knob.values"
						>
					</common-input>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="record in search.records"
				st-select-row="record"
				st-select-mode="multiple"
				>
				<td ng-repeat="knob in search.knobs">
					<md-button ng-if="knob.type === 'lens'"
						class="md-primary md-raised"
						ui-sref="lenses.search(
							{ lens: knob.name + '!' + search.params.lens
							, q: 'parent:' + record.id
							})"
						>
						<i class="fa fa-chevron-right"></i>
					</md-button>
					<div ng-if="knob.type !== 'lens'">
						{{record[knob.name]}}
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<md-list class="buttons"
	ng-mouseover="search.show.buttons = true"
	ng-mouseleave="search.show.buttons = false"
	>
	<div ng-show="search.show.buttons">
		<md-list-item media-show not media="gt-lg">
			<md-button class="md-accent md-hue-1 md-fab"
				ng-click="search.show.knobs = !!!search.show.knobs"
				>
				<i class="fa fa-filter"></i>
			</md-button>
		</md-list-item>
		<md-list-item ng-show="!!(search.records | selected)">
			<md-button class="md-accent md-hue-1 md-fab"
				ng-click="search.clear()"
				>
				<i class="fa fa-paint-brush"></i>
			</md-button>
		</md-list-item>
		<md-list-item ng-show="!!(search.records | selected)">
			<md-button class="md-primary md-hue-2 md-fab"
				ng-click="search.delete()"
				>
				<i class="fa fa-trash"></i>
			</md-button>
		</md-list-item>
		<md-list-item ng-show="(search.records | selected) === 1">
			<md-button class="md-primary md-hue-2 md-fab"
				ui-sref="lenses.edit(
				{ lens: search.params.lens
				, record: (search.records | edit)
				})"
				>
				<i class="fa fa-pencil"></i>
			</md-button>
		</md-list-item>
	</div>
	<md-list-item>
		<md-button class="md-accent md-hue-2 md-fab"
			ng-focus="search.show.buttons = true"
			ng-blur="search.show.buttons = false"
			ng-click="search.add()"
			>
			<i class="fa fa-plus"></i>
		</md-button>
	</md-list-item>
</md-list>
